<footer class="w100 d-flex flex-column justify-center align-center bg-c4 p20">

    <p class="c2">Projet réalisé dans le cadre de la formation Access Code School.</p>
    <p class="c2">Copyright 2018 &copy;</p>

</footer>

<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./assets/js/script.js"></script>
