<div class="vh100 d-flex flex-column">

    <header class="w100 p20 d-flex flex-row justify-spacee bc1">

        <div><!-- LOGO -->
            <img src="./assets/img/logo.png">
        </div>

        <div class="d-flex flex-column justify-center"><!-- TITRE -->
            <h1 class="c3 fs60 ff2">Dans Ta Chouette</h1>
            <h2 class="c3 fs24 ff1">lorem ipsum dolor</h2>
        </div>

        <nav role="navigation" class="d-flex align-center">
            <ul>
                <i class="fas fa-search fs30 c3"></i>
            </ul>
        </nav>

    </header>